{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="profile-container">
  <h3 class="profile-title">Profile</h3>

  <div class="card profile-card">

    <!-- Avatar -->
    {% if user.profile.avatar %}
      <img src="{{ user.profile.avatar.url }}" class="profile-avatar">
    {% else %}
      <img src="{% static 'avatar.png' %}" class="profile-avatar">
    {% endif %}


    <div class="profile-info">
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>First name:</strong> {{ user.profile.first_name }}</p>
      <p><strong>Last name:</strong> {{ user.profile.last_name }}</p>

      {% if user.profile.bio %}
        <p><strong>Bio:</strong> {{ user.profile.bio }}</p>
      {% endif %}

      <p><strong>Joined:</strong> {{ user.profile.created_at }}</p>
    </div>

    <a href="{% url "accounts:edit_profile" %}" class="btn edit-btn">Edit Profile</a>

  </div>
</div>

{% endblock %}
