{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Todo App</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-dark custom-navbar">
      <div class="nav-container container-fluid">
        <a class="navbar-brand brand-logo">Todo App</a>

        <div class="nav-user-section">
          {% if user.is_authenticated %}

          <a
            href="{% url 'tasks:task_list' %}"
            class="btn profile-btn {% if request.path == '/tasks/' %}active{% endif %}"
          >
            Tasks
          </a>

          <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn logout-btn">Logout</button>
          </form>

          <!-- Avatar & Name (ته راست) -->
          <a href="{% url 'accounts:user_profile' %}" class="profile-box">
            <div class="user-info">
              <span class="user-email">{{ user.profile.first_name }}</span>

              {% if user.profile.avatar %}
              <img
                src="{{ user.profile.avatar.url }}"
                alt="Avatar"
                class="user-avatar"
              />
              {% else %}
              <img
                src="{% static 'img/default-avatar.png' %}"
                alt="Avatar"
                class="user-avatar"
              />
              {% endif %}
            </div>
          </a>

          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container mt-4">{% block content %} {% endblock %}</div>
  </body>
</html>
