{% extends 'base.html' %} 
{% block content %}

<div class="card p-4 shadow-sm">
      
  <div class="d-flex justify-content-between align-items-center mb-4">
          
    <span class="btn btn-primary btn-lg disabled"> My Tasks </span>

    <a class="btn btn-success btn-lg shadow-sm" href="{% url "tasks:create_task" %}">
      + New Task
    </a>

  </div>

  <ul class="list-group">

    {% for task in tasks  %}
    <li class="list-group-item d-flex justify-content-between align-items-center">

    {% comment %} <span class="task-title"> {% endcomment %}

       {% comment %} {% if task.is_done %}
       <s>{{ task.title }}</s>
       {% else %}
       {{ task.title }}
       {% endif %}

      </span> {% endcomment %}

   <span class="task-title">
    <a href="{% url 'tasks:detail_task' task.pk %}" class="text-decoration-none text-dark">
        {% if task.is_done %}
            <s>{{ task.title }}</s>
        {% else %}
            {{ task.title }}
        {% endif %}
    </a>
</span>



      <div class="btn-group" role="group">
        <a class="btn btn-sm btn-warning" href="{% url 'tasks:task_toggle' task.pk %}">
            Done
        </a>


        <a class="btn btn-sm btn-info" href="{% url 'tasks:edit_task' task.pk %}">
          Edit
      </a>

        <a class="btn btn-sm btn-danger" href="{% url 'tasks:delete_task' task.pk %}">
          Delete
          </a>

      </div>

    </li>
    {% empty %}
    <li class="list-group-item text-center text-muted py-4">No tasks yet</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
