{% extends 'base.html' %} 
{% load static %}

{% block content %}
<div class="form-wrapper">
    <div class="form-card">
        
        {% comment %} <h3>Task Details</h3> {% endcomment %}
        <h3>
          {% if object %} Edit Task {% else %} New Task {% endif %}
        </h3>

        <form method="post">
            {% csrf_token %} 
            
            <!-- Render Django form fields -->
            {{ form.as_p }}

            <div class="form-actions">
                <button type="submit" class="btn-save">Save Task</button>
                <a href="{% url 'tasks:task_list' %}" class="btn-cancel-link">Cancel</a>
            </div>
        </form>

    </div>
</div>
{% endblock %}
